html{

	background-color: rgba(210,210,210,0.5);
	max-height: 100%;
	max-width: 100%;
    /* Set background image to fixed (don't scroll along with the page) */
    /*background-attachment: fixed;*/
    /* Center the background image 
    background-position: center;
    /* Set the background image to no repeat */
    

/*	-webkit-background: blur(5px);
	-moz-background: blur(5px);
  	-o-background: blur(5px);
  	-ms-background: blur(5px);
  	back: blur(5px);
*/
	font-family: 'Helvetica Neue' , sans-serif;
}

@media screen and (max-width: 700px)
<style>…</style>
.menu {
    display: none;
}
@media only screen and (max-width: 44em)
<style>…</style>
.menu {
    right: 1em;
}
.menu {
    z-index: 1;
    position: fixed;
    right: 2rem;
    top: 20px;
    text-align: right;
}

.menu .menu-link {
    display: block;
    color: inherit;
    padding: 20px 0px;
    background-repeat: no-repeat;
}

a:visited {
    text-decoration: none;
    color: rgb(93, 93, 93);
}
<style>…</style>
.menu-item {
    display: block;
    color: white;
}
<style>…</style>
html, html a {
    -webkit-font-smoothing: antialiased;
    text-]adow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
}
<style>…</style>
a {
    color: rgb(93, 93, 93);
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease;
}
<style>…</style>
a {
    background-color: transparent;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

.menu .menu-link .icon {
    display: inline-block;
    width: 24px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.menu .menu-link .title {
    display: inline-block;
    opacity: 0;
    font-size: 1.125rem;
    padding-right: 10px;
    top: -5px;
    position: relative;
    transition: all 0.2s ease;
}

.main-header {
	max-width: 1500px;
	width: 100%;
	height: 100%;
	background: url(../images/background3.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position:center;
	background-margin:0 auto;
	/*left:-50%;*/
	/*margin-left: -50%;*/

	/*background: rgba(0,0,0,0);*/
	/*padding: 10%;*/
	color: black;
	/*margin: 0 auto;*/
	/*margin-top: 25%;*/
	text-align: center;
}

.prof-box {
	width: 100%;
	height: 700px;
	background: rgba(200,200,200,0.3);
	padding: 15px;
	color: black;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;

}

.prof-boxinside{
	width: 80%;
	height: 50%;
	padding: 15px;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;

}

.prof-pic{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	float: left;
}

.draw-pic{
	border-radius: 10%;
	width: 196px;
	height: 196px;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
}

.formatdraw-pic{
	width: 1000px;
	height: 500px;
	padding: 15px;
	border-radius: 10%;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
}

.skill-pic{
	border-radius: 5%;
	width: 700px;
	height: 500px;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
}


.social-icons a {
	font-size: 110px;
	color: black;
	text-align: center;

}

.line-break{
	width : 400px;
	border-top: 1px solid black;
	margin: 0 auto;
}

.work-box{
	width: 100%;
	height: 1300px;
	background: rgba(200,200,200,0.3);
	padding: 5px;
	color: black;
	margin: 0 auto;
	margin-top: 5px;
}

.ex-box{
	width: 100%;
	height: 2000px;
	background: rgba(200,200,200,0.3);
	padding: 5px;
	color: black;
	margin: 0 auto;
	margin-top: 5px;
}

.ex-box-left{
	width:300px; 
	height: 250px;
	float:left;
}
.ex-box-center{
	height:220px;
	float:center;
}
.ex-box-right{
	width:300px; 
	height:250px; 
	float:right;
}

.skill-box{
	width: 100%;
	height: 700px;
	background: rgba(200,200,200,0.3);
	padding: 15px;
	color: black;
	margin: auto auto;
	margin-top: 5px;
	text-align: center;

}

.art-box{
	width: 100%;
	height: 700px;
	background: rgba(200,200,200,0.3);
	padding: 15px;
	color: black;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;

}

.footer-page{
	font-size: 15px;
	color: gray;
	margin: auto 0;
	text-align: center;


}

.rowRepeate{
	max-width: 600px;
	width: 100%;
	height: 80%;
	margin: 0 auto;
	text-align: center;
}

.rowCenter{
	max-width:600px;
	width: 100% ;
	/*height: 150px;*/
	float:center;
}

.inside-left-pic{
	width:300px;
	height: 210px;
	float:left;
}
.inside-right-pic{
	width:500px;
	height: 210px;
	float:right;
}


#img {
    padding:0;
    margin:0;
    width:49%;
    min-width:350px;   
    vertical-align:bottom;
}
p {
    width:49%;
    min-width:10px;
    display:inline-block;
    padding:40px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:black;
}

h3{
	font-weight: 100;
	letter-spacing: 2;
	font-size: 15;
}

h5{
	font-weight: 100;
	letter-spacing: 2;
	font-size: 15;
	color: white;

}

h4{
	font-weight: 110;
	letter-spacing: 2;
	font-size: 20;
}

h2{
	font-weight: 100;
	letter-spacing: 2;
	font-size: 30;
	color: white;
}

h1{
	font-weight: 100;
	letter-spacing: 6;
	font-size: 40;
	text-align: center;
	margin-bottom: 50px;



}

p{
	font-weight: 400;
	letter-spacing: 1;
}


/*------------------------------------------------------*/

@media only screen and (max-width: 480px){

	.menu {
    display: none;
	}

	h2{
	padding-left: 10%;
	padding-right: 10%;
	font-weight: 100;
	letter-spacing: 2;
	font-size: 30;
	color: white;
	}

	h5{
		font-weight: 100;
		letter-spacing: 2;
		font-size: 15;
		color: white;
		padding-left: 10%;
		padding-right: 10%;
	}

	.work-box{
	width: 100%;
	height: 1600px;
	background: rgba(200,200,200,0.3);
	padding: 5px;
	color: black;
	margin: 0 auto;
	margin-top: 5px;
	}	

	.rowRepeate{
	width: 100%;
	height: 80%;
	margin: 0 auto;
	text-align: center;
	float: center;
	}

	.ex-box{
	width: 100%;
	height: 3600px;
	background: rgba(200,200,200,0.3);
	padding: 5px;
	color: black;
	margin: 0 auto;
	margin-top: 5px;
	}

	.ex-box-left{
	width:100%; 
	height: 250px;
	float:center;
	}

	.ex-box-center{
	height:220px;
	float:center;
	}

	.ex-box-right{
	width:100%; 
	height:250px; 
	float:center;
	}


	.skill-box{
	width: 100%;
	height: 550px;
	background: rgba(200,200,200,0.3);
	padding: 15px;
	color: black;
	margin: auto auto;
	margin-top: 5px;
	text-align: center;
	}

	.skill-pic{
	border-radius: 5%;
	width: 100%;
	height: 80%;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
}

.art-box{
	width: 100%;
	height: 1400px;
	background: rgba(200,200,200,0.3);
	padding: 15px;
	color: black;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;

}


.formatdraw-pic{
	width: 100%;
	height: 1000px;
	padding: 1px;
	border-radius: 10%;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
}


.prof-box {
	width: 100%;
	height: 900px;
	background: rgba(200,200,200,0.3);
	padding: 1px;
	color: black;
	/*margin: 0 auto;
	margin-top: 5px;*/
	text-align: center;

}

.prof-boxinside{
	width: 100%;
	height: 450px;
	padding: 1px;
	/*margin: 0 auto;
	margin-top: 5px;*/
	/*text-align: center;
	float: center;*/

}

.prof-pic{
	border-radius: 25%;
	width: 200px;
	height: 200px;
	float: center;
}

.draw-pic{
	border-radius: 10%;
	width: 196px;
	height: 196px;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
}

.inside-box-pic{
	width:100%;
	height:200px;
	float: center;
}
.inside-left-pic{
	width:100%;
	height: 200px;
	float:center;
}
.inside-right-pic{
	width:500px;
	height: 210px;
	float:center;
}



}